.map-grid {
    display: flex;
    flex-wrap: wrap;
}

.map-item {
    flex: 1 1 20%;
    margin: 1px;
    text-align: center;
}

.map-container {
    width: 100%;
    height: 300px;
}

.map-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    font-size: 0.85rem;
}
