<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>
<!--        <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>-->
    </div>

    <div class="topbar-end">
        <ul class="topbar-menu">
            <app-geojson-upload class="mr-2"></app-geojson-upload>
           <ng-container *ngIf="pointInfo$ | async as pointInfo; else searchForm">
              <!-- Your content when pointInfo is not null -->
            </ng-container>

            <ng-template #searchForm>
              <li class="topbar-search">
                <div class="flex align-items-center">
                  <div class="flex flex-column">
                    <input type="text" pInputText
                           placeholder="Latitude, Longitude (ex: -15.78, -47.92)"
                           [(ngModel)]="coordInput"
                           (ngModelChange)="onCoordInputChange()"
                           (keydown.enter)="isValidCoord && onSearchPoint()"
                           class="w-22rem sm:w-full"
                           [ngClass]="{'ng-invalid ng-dirty': coordError}">
                    <small *ngIf="coordError" class="p-error mt-1">{{ coordError }}</small>
                    <small *ngIf="coordWarning && !coordError" class="text-yellow-500 mt-1">{{ coordWarning }}</small>
                  </div>
                  <button pButton type="button" icon="pi pi-search" class="p-button-text p-button-secondary p-button-rounded flex-shrink-0 ml-3"
                          [disabled]="!isValidCoord" (click)="onSearchPoint()">
                  </button>
                </div>
              </li>
            </ng-template>
        </ul>
    </div>
</div>
